* {
  margin:0px ;
}

.app{
  background-color: #fafafa;
  height: 100vh;  
}

.app__header{
  background-color: white;
  position: sticky;
  top:0;
  padding:20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  lightgrey;
  object-fit: contain;
}

.app__signup{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.app__headerImage{
  object-fit: contain;
}

.app__posts{
  padding: 20px;
}